/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
*{
   -fx-main-background: #0B2D5A;
}

.button-export{
	-fx-background-color: green; 
	-fx-border-color: black; 
	-fx-border-width: 3;
}

.button-export:hover{
	-fx-background-color: red; 
}


.button-info{
	-fx-background-color: -fx-main-background; 
	-fx-background-radius: 15;
	-fx-border-color: white; 
	-fx-border-width: 2;
	-fx-border-radius: 15;
	-fx-text-fill: white;
}

.button-info:hover{
	-fx-background-color: white; 
	-fx-text-fill: -fx-main-background;
	-fx-border-width: 0;
}

.button-export{
	-fx-background-color: -fx-main-background; 
	-fx-background-radius: 0;
	-fx-border-color: white; 
	-fx-border-width: 2;
	-fx-border-radius: 0;
	-fx-text-fill: white;
}

.button-export:hover{
	-fx-background-color: white; 
	-fx-text-fill: -fx-main-background;
	-fx-border-width: 0;
}

.background-default{
	-fx-background-color: -fx-main-background; 
}

.background-default:hover{
	-fx-background-color: #02CD02; 
}

.text-area {
    -fx-background-color: -fx-main-background;
    -fx-text-fill: white;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.database-table{
    -fx-background-color: #0B2D5A;
}

.tab{
	-fx-background-color: -fx-main-background;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-effect: null;
}

.tab-database .tab:hover{
	-fx-background-color: #9BD5FF;
}

.tab-database .tab-content-area {
	-fx-border-width: 1 0 0 0;
	-fx-border-color: #0099FF;
}

.tab-database .tab:selected{
	-fx-background-color: #0099FF;
	-fx-border-width: 0;
	-fx-background-insets: 0 0 -1 0
}

.tab-u2 .tab:hover{
	-fx-background-color: #99FFA1;
}


.tab-u2 .tab:selected{
	-fx-background-color: #02CD02;
	-fx-border-width: 0;
	-fx-background-insets: 0 0 -1 0
}

.tab-u2 .tab-content-area {
	-fx-border-width: 1 0 0 0;
	-fx-border-color: #02CD02;
}

.tab-label{
	-fx-padding: 0 10 0 10;
}

.tab-pane{
	-fx-tab-min-height: 25
}

.tab-pane *.tab-header-background {
    -fx-background-color: #0B2D5A;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

/* Remove left gap  */
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.white-text {
	-fx-text-fill: white;
}

.table-node:hover {
	-fx-border-color: #9BD5FF;
}

.table-node:selected {
	-fx-border-color: red;
}


.table-node{
	-fx-border-width: 1;
	-fx-border-color: #418CC5;
}

.file-node:hover {
	-fx-border-color: #99FFA1;
}

.file-node{
	-fx-border-width: 1;
	-fx-border-color: #76A348;
}

.column-field{
	-fx-background-color: #669933;
	-fx-text-fill: white;
}

.table-fields{
	-fx-background-color: transparent;
}

.table-fields .column-header .label {
	-fx-background-color: #669933;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}



.table-fields .column-header-background .filler {
  -fx-background-color:  #669933;
  -fx-padding: 1em;
}

/****************************************************************
 
  ScrollBar Skin  
 
****************************************************************/
.scroll-bar{
 -fx-background-color: rgb(96,96,96);
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

.scroll-bar:vertical > .increment-button, 
.scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.25em 0.25em  ;
}

.table-node .scroll-bar{
	-fx-background-color:  #2D7EBE;
}

.table-fields .scroll-bar{
	-fx-background-color:  #669933;
}